@import 'o-hoverable/main';
@import "next-sass-setup/main";

@include oColorsSetUseCase(nav, text, 'white');
@include oColorsSetUseCase(nav, background, 'cold-3');
@include oColorsSetUseCase(link-hover, text, 'blue-2');
@include oColorsSetUseCase(sub-nav, text, 'white');
@include oColorsSetUseCase(sub-nav, background, 'cold-3');
@include oColorsSetUseCase(sub-nav-hover, background, 'cold-2');
@include oColorsSetUseCase(header, border, 'grey-tint3');

.next-navigation,
.next-navigation__group__items {
	list-style: none;
	margin: 0;
	padding: 0;
}
.next-navigation {
	font-family: $fontSans;
}
.next-navigation--all {
	@include oColorsFor(sub-nav, background text);
	@include oGridRow();

	.next-navigation__group {
		@include oGridColumn((default: 12, S: 6, M: 4, L:2));
		margin: 10px 0;

		@include oGridRespondTo(S, $until: M) {
			&:nth-child(2n+1) {
				clear: both;
			}
		}
		@include oGridRespondTo(M, $until: L) {
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		@include oGridRespondTo(L) {
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
	.next-navigation__link {
		font-family: $fontSans;
		text-decoration: none;
		padding: 5px;
		display: block;
		font-weight: 300;
		color: inherit;

		&:hover {
			@include oColorsFor(link-hover, text);
			@include oColorsFor(sub-nav-hover, background);
		}
	}
	.next-navigation__group__header {
		@include oColorsFor(header, border);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		margin: 0;

		.next-navigation__link {
			@include oColorsFor(header, text);
			font-size: 18px;
			font-weight: 500;
		}
	}
}
.next-navigation--nav {
	@include oColorsFor(nav, text background);

	.next-navigation__group {
		display: inline-block;
		// Because <button> elements sit on high baseline in FF
		vertical-align: bottom;

		&:after {
			content: '|';
			display: inline-block;
		}
		&:last-child:after {
			content: '';
		}
		#{$o-hoverable-if-hover-enabled} &:hover .next-navigation__group__items {
			z-index: 2;
			display: block;
		}
	}
	.next-navigation__link {
		display: block;
		color: inherit;
		font-family: inherit;
		text-decoration: none;
		font-size: 14px;
		padding: 0 4px;

		@include oGridRespondTo(M) {
			padding: 0 7px;
			font-size: 16px;
		}
		&:hover,
		&:focus,
		&[aria-pressed] {
			@include oColorsFor(link-hover, text);
		}
	}
	.next-navigation__link--top-level {
		display: inline-block;
		color: inherit;
		line-height: 45px;
		background: none;
		border: 0;
		cursor: pointer;

		// Just incase a <button> is used
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}
	.next-navigation__link__text--mobile {
		@include oGridRespondTo(L) {
			display: none;
		}
	}
	.next-navigation__link__text--desktop {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}
	.next-navigation__group--sections {
		display: none;

		@include oGridRespondTo(L) {
			display: inline-block;
		}
	}
	.next-navigation__group__items {
		@include oColorsFor(sub-nav, background);
		padding: 0 0 20px 10px;
		position: absolute;
		left: 0;
		display: none;
		box-shadow: 3px 3px 3px 2px oColorsGetColorFor(sub-nav, background);
		z-index: 1;

		&[aria-expanded='true'] {
			display: block;
		}
	}
	.next-navigation__group__item {
		width: 200px;
		float: left;

		&:nth-child(3n+1) {
			clear: left;
		}
	}
	.next-navigation__group--more {
		.next-navigation__group__items {
			padding-bottom: 0;
		}
		.next-navigation__group__item {
			margin-bottom: 20px;
		}
	}
	.next-navigation__group__item--top-level {
		@include oGridRespondTo(L) {
			display: none;
		}
	}
	.next-navigation__link--sub-level {
		@include oColorsFor(header, border);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		position: relative;
		margin-right: 10px;
		padding: 5px 10px 5px 0;

		&:after {
			@include nextIcon(arrow-right, oColorsGetColorFor(header, border), 10);
			content: '';
			position: absolute;
			right: 0;
			top: 10px;
		}
		&:hover {
			@include oColorsFor(sub-nav-hover, background);
		}
	}
	.next-navigation__link--sub-level-header {
		font-weight: 500;
		font-size: 18px;
		color: #ffffff;
	}
	.next-navigation__group__items--nested .next-navigation__group__item {
		clear: none !important;
	}
	.next-navigation__group__sub-items {
		padding: 0;
		list-style: none;
	}
}
