<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MTE3-U2VjdGlvbnM=" data-trackable="Columnists">Columnists</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MTIy-U2VjdGlvbnM=" data-trackable="Letters">Letters</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NGYyMTRiYTMtZWQ2Ny00MDc3LTgwODctOTFkZmQ3OTM2Yjhi-U2VjdGlvbnM=" data-trackable="FT View">FT View</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MTE4-U2VjdGlvbnM=" data-trackable="The Big Read">The Big Read</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MTE5-U2VjdGlvbnM=" data-trackable="Opinion">Opinion</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MTIz-U2VjdGlvbnM=" data-trackable="Obituaries">Obituaries</a></li>
</ol>
