<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sections/Columnists" data-trackable="Columnists">Columnists</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Letters" data-trackable="Letters">Letters</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/FT%20View" data-trackable="FT View">FT View</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/The%20Big%20Read" data-trackable="The Big Read">The Big Read</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Opinion" data-trackable="Opinion">Opinion</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Obituaries" data-trackable="Obituaries">Obituaries</a></li>
</ol>
