<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MzA=-U2VjdGlvbnM=" data-trackable="Energy">Energy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NTc=-U2VjdGlvbnM=" data-trackable="Financials">Financials</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NTA=-U2VjdGlvbnM=" data-trackable="Health">Health</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MzQ=-U2VjdGlvbnM=" data-trackable="Industrial">Industrial</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/MWFkNTA2YmEtMTM4OC00MzA4LWExNzEtM2I5ODcxYjlmZThh-U2VjdGlvbnM=" data-trackable="Luxury">Luxury</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NTU=-U2VjdGlvbnM=" data-trackable="Media">Media</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NDU=-U2VjdGlvbnM=" data-trackable="Retail &amp; Consumer">Retail &amp; Consumer</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NTM=-U2VjdGlvbnM=" data-trackable="Technology">Technology</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NTY=-U2VjdGlvbnM=" data-trackable="Telecoms">Telecoms</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NDE=-U2VjdGlvbnM=" data-trackable="Transport">Transport</a></li>
</ol>
