<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sections/Energy" data-trackable="Energy">Energy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Financials" data-trackable="Financials">Financials</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Health" data-trackable="Health">Health</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Industrials" data-trackable="Industrial">Industrial</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Luxury%20360" data-trackable="Luxury">Luxury</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Media" data-trackable="Media">Media</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Retail%20%26%20Consumer" data-trackable="Retail &amp; Consumer">Retail &amp; Consumer</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Technology" data-trackable="Technology">Technology</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Telecoms" data-trackable="Telecoms">Telecoms</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Transport" data-trackable="Transport">Transport</a></li>
</ol>
