<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sections/House%20%26%20Home" data-trackable="House &amp; Home">House &amp; Home</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Travel" data-trackable="Travel">Travel</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Style" data-trackable="Style">Style</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Books" data-trackable="Books">Books</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Music" data-trackable="Music">Music</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Film%20%26%20Television" data-trackable="Film &amp; Television">Film &amp; Television</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Theatre" data-trackable="Theatre">Theatre</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Dance" data-trackable="Dance">Dance</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Visual%20Arts" data-trackable="Visual Arts">Visual Arts</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Food%20%26%20Drink" data-trackable="Food &amp; Drink">Food &amp; Drink</a></li>
	<li class="next-navigation__group__item"><a href="/stream/subjects/Personal%20Technology" data-trackable="Personal Technology">Personal Technology</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/Sport" data-trackable="Sport">Sport</a></li>
</ol>
