<ol class="next-navigation__group__items">
    <li class="next-navigation__group__item"><a href="/stream/sections/Property%20%26%20Mortgages" data-trackable="Property &amp; Mortgages">Property &amp; Mortgages</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Investments" data-trackable="Investments">Investments</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Trading%20Technology" data-trackable="Trading">Trading</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Pensions" data-trackable="Pensions">Pensions</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Tax" data-trackable="Tax">Tax</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Savings" data-trackable="Banking &amp; Savings">Banking &amp; Savings</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sections/Advice%20%26%20Comment" data-trackable="Advice ">Advice </a></li>
</ol>
