<ol class="next-navigation__group__items">
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQy-U2VjdGlvbnM=" data-trackable="Property &amp; Mortgages">Property &amp; Mortgages</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQz-U2VjdGlvbnM=" data-trackable="Investments">Investments</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/OTY=-U2VjdGlvbnM=" data-trackable="Trading">Trading</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQ0-U2VjdGlvbnM=" data-trackable="Pensions">Pensions</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQ1-U2VjdGlvbnM=" data-trackable="Tax">Tax</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQ2-U2VjdGlvbnM=" data-trackable="Banking &amp; Savings">Banking &amp; Savings</a></li>
    <li class="next-navigation__group__item"><a href="/stream/sectionsId/MTQx-U2VjdGlvbnM=" data-trackable="Advice ">Advice</a></li>
</ol>
