<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/Nw==-U2VjdGlvbnM=" data-trackable="UK Business &amp; Economy">Business &amp; Economy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/OA==-U2VjdGlvbnM=" data-trackable="UK Politics &amp; Policy">Politics &amp; Policy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NjM=-U2VjdGlvbnM=" data-trackable="UK Companies">Companies</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sectionsId/NjQ=-U2VjdGlvbnM=" data-trackable="UK Small Companies">Small Companies</a></li>
	<li class="next-navigation__group__item"><a href="/stream/topicsId/OTAzZjM5YTgtZGU1Ny00MjU5LTgxMmEtZGIzMGY4YTg5NDJi-VG9waWNz" data-trackable="UK General Election">General Election</a></li>
</ol>
