<ol class="next-navigation__group__items">
	<li class="next-navigation__group__item"><a href="/stream/sections/UK%20Business%20&amp;%20Economy" data-trackable="UK Business &amp; Economy">Business &amp; Economy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/UK%20Politics%20&amp;%20Policy" data-trackable="UK Politics &amp; Policy">Politics &amp; Policy</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/UK%20Companies" data-trackable="UK Companies">Companies</a></li>
	<li class="next-navigation__group__item"><a href="/stream/sections/UK%20Small%20Companies" data-trackable="UK Small Companies">Small Companies</a></li>
	<li class="next-navigation__group__item"><a href="/stream/topics/UK%20General%20Election" data-trackable="UK General Election">General Election</a></li>
</ol>
