<ol class="next-navigation next-navigation--all">
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/sections/World">World</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Africa">Africa</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Asia%20Pacific">Asia Pacific</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Europe">Europe</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Middle%20East%20&%20North%20Africa">Middle East &amp; North Africa</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/UK">UK</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/US%20&%20Canada">US &amp; Canada</a></li>
			<li class="next-navigation__group__item"><a href="/stream/subjects/Politics">Politics</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Global%20Economy">Global Economy</a></li>
			<li class="next-navigation__group__item"><a href="/stream/subjects/Environment">Environment</a></li>
		</ol>
	</li>

	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/Companies">Companies</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Energy">Energy</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Financials">Financials</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Health">Health</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Industrials">Industrial</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Luxury%20360">Luxury</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Media">Media</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Retail%20&%20Consumer">Retail &amp; Consumer</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Technology">Technology</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Telecoms">Telecoms</a></li>
		</ol>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/markets">Markets</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Markets%20Data">UK</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/FTfm%20Fund%20Management">Fund Management</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/FT%20Trading%20Room">Trading</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Equities">Equities</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Currencies">Currencies</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Capital%20Markets">Capital Markets</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Commodities">Commodities</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Emerging%20Markets">Emerging Markets</a></li>
		</ol>
	</li>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/comment">Comment</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Columnists">Columnists</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Blogs">Blogs</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Letters">Letters</a></li>

		</ol>
	</li>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/management">Management</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Business%20Education">Business Education</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Business%20School%20Rankings">Business School Rankings</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Entrepreneurship">Entrepreneurship</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Business%20Books">Business Books</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Recruitment">Recruitment / Careers</a></li>
		</ol>
	</li>
	</li>
		<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/Life%20%26%20Arts">Life &amp; Arts</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/House%20%26%20Home">UK</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Travel">House &amp; Home</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Style">Travel</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Books">Style</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Music">Books</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Film%20&%20Television">Music</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Theatre">Film &amp; Television</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Dance">Theatre</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Visual%20Arts">Dance</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Food%20%26%20Drink">Visual Arts</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Film%20&%20Television">Food & Drink</a></li>
			<li class="next-navigation__group__item"><a href="/stream/subjects/Science%20&%20Technology">Science &amp; Technology</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Sport">Sport</a></li>
		</ol>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/Lex">Lex</a>
		</h3>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/brand/FT%20Alphaville">Alphaville</a>
		</h3>
	</li>
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/stream/sections/Personal%20Finance">Personal Finance</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Property%20&%20Mortgages">Property &amp; Mortgages</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Investments">Investments</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Trading%20Technology">Trading</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Pensions">Pensions</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Tax">Tax</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Savings">Banking &amp; Savings</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Advice%20&%20Comment">Advice </a></li>
		</ol>
	</li>
</ol>