<ol class="next-navigation next-navigation--all">
	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="/sections/World">World</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="/stream/sections/Africa">Africa</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Asia%20Pacific">Asia Pacific</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Europe">Europe</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/Middle%20East%20&%20North%20Africa">Middle East &amp; North Africa</a></li>
			<li class="next-navigation__group__item"><a href="/stream/sections/UK">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/US%20&%20Canada">US &amp; Canada</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/subjects/Politics">Politics</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Global%20Economy">Global Economy</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/subjects/Environment">Environment</a></li>
		</ol>
	</li>

	<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="http://next.ft.com/stream/sections/Companies">Companies</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Energy">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Financials">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Health">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Industrials">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Luxury%20360">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Media">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Retail%20&%20Consumer">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Technology">UK</a></li>
			<li class="next-navigation__group__item"><a href="http://next.ft.com/stream/sections/Industrials">UK</a></li>
		</ol>
	</li>
		<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="blah">World 3</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
		</ol>
	</li>
	</li>
		<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="blah">World 4</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
		</ol>
	</li>
	</li>
		<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="blah">World 5</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
		</ol>
	</li>
		</li>
		<li class="next-navigation__group">
		<h3 class="next-navigation__group__header">
			<a href="blah">World 6</a>
		</h3>
		<ol class="next-navigation__group__items">
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
			<li class="next-navigation__group__item"><a href="blah">UK</a></li>
		</ol>
	</li>
</ol>