<div class="ad-placeholder ad-placeholder__banlb ad-placeholder__{{__name}}"></div>

<header data-o-component="o-header" data-trackable="o-header" class="o-header" data-default-panel="search" data-panel="search">
	<div class="o-header__row o-header__row--primary">
		<div class="o-header__container o-header__container--primary">
			<div class="o-header__primary">
				<div class="o-header__left">
					<div class="o-header__logo o-header__logo--ft">
						<a href="/"><abbr title="Financial Times">FT</abbr></a>
					</div>
					<a href="/" class="o-header__masthead" data-trackable="masthead"><i></i></a>
				</div>
				<nav class="o-header__right o-header__nav"><!--
					--><ul><!--
						-->{{#if @root.flags.userPreferencesAPI.isSwitchedOn}}
							{{#if @root.flags.follow.isSwitchedOn}}
								<li><a href="/mypage/following" class="o-header-button o-header-button--my-page" data-trackable="my-page | recommended">My Page<span class="notify-badge"></span></a></li>
							{{else}}
								{{#if @root.flags.saveForLater.isSwitchedOn}}
									<li><a href="/mypage/savedforlater" class="o-header-button o-header-button--my-page" data-trackable="my-page | savedforlater">My Page</a></li>
								{{else}}
									{{#if @root.flags.recommend.isSwitchedOn}}
										<li><a href="/mypage/recommended" class="o-header-button o-header-button--my-page" data-trackable="my-page | recommended">My Page</a></li>
									{{/if}}
								{{/if}}
							{{/if}}
						{{/if}}<!--
						-->{{#if @root.flags.search.isSwitchedOn}}<li><a href="#" data-trackable="search-button" class="o-header-button-js o-header-search-button" data-target-panel="search">Search<i class="icon icon__search"></i></a></li>{{/if}}<!--
						-->{{#if @root.flags.globalNavigation.isSwitchedOn}}<li><a href="#next-footer__nav" data-trackable="menu-button" class="o-header-button-js o-header-menu-button" data-target-panel="nav">Menu<i class="icon icon__menu"></i></a></li>{{/if}}<!--
					--></ul><!--
				--></nav>
			</div>
		</div>
	</div>
	<div class="o-header__row o-header__row--secondary">
		<div class="o-header__container o-header__container--secondary">
			{{#if @root.flags.search.isSwitchedOn}}
			<div class="o-header__secondary o-header__secondary--search">
				<form action="/search">
					<div class="o-forms-group">
							<div class="o-forms-affix-wrapper">
									<input id="search" type="search" name="q" class="o-forms-text" placeholder="Search for a section/article"{{#if searchQuery}} value="{{searchQuery}}"{{/if}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-trackable="search-input"/>
									<div class="o-forms-suffix">
										<button for="search" data-trackable="search-button">Go</button>
								</div>
							</div>
					</div>
				</form>
			</div>
			{{/if}}
			{{#if @root.flags.globalNavigation.isSwitchedOn}}
			<div class="o-header__secondary o-header__secondary--nav o-header__secondary--nav-js o-expander"
				data-o-component="o-expander"
				data-o-expander-toggle-selector=".nav__toggle-subsections"
				data-o-expander-expanded-toggle-text="more"
				data-trackable="nav">
				<ul class="nav__top-level o-row" >
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/world" data-trackable="World">World</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/companies" data-trackable="Companies">Companies</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/markets" data-trackable="Markets">Markets</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/uk" data-trackable="UK">UK</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/comment" data-trackable="Comment">Comment</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/lex" data-trackable="Lex">Lex</a></li>
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/stream/sections/life%20%26%20Arts" data-trackable="LifeAndArts">Life &amp; Arts</a></li>
					{{#if @root.flags.userPreferencesAPI.isSwitchedOn}}
						{{#if @root.flags.follow.isSwitchedOn}}
							<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/mypage/following" class="o-header-button o-header-button--my-page" data-trackable="my-page | following">My Page&nbsp;<span class="notify-badge"></span></a></li>
						{{else}}
							{{#if @root.flags.saveForLater.isSwitchedOn}}
								<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/mypage/savedforlater" class="o-header-button o-header-button--my-page" data-trackable="my-page | savedforlater">My Page</a></li>
							{{else}}
								{{#if @root.flags.recommend.isSwitchedOn}}
									<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="/mypage/recommended" class="o-header-button o-header-button--my-page" data-trackable="my-page | recommended">My Page</a></li>
								{{/if}}
							{{/if}}
						{{/if}}
					{{/if}}
					<li class="nav__top-level__item uber-index__child" data-o-grid-colspan="12 S6"><a href="#next-footer__nav" data-trackable="Toggle subsections" class="nav__toggle-subsections">more<i></i></a></li>
				</ul>
				{{#if @root.flags.search.isSwitchedOn}}
				<form action="/search" class="nav__search" data-trackable="search-form">
					<div class="o-forms-group">
							<div class="o-forms-affix-wrapper">
									<input id="search" type="search" name="q" class="o-forms-text" placeholder="Search for a section/article"{{#if searchQuery}} value="{{searchQuery}}"{{/if}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
									data-trackable="search-input" />
									<div class="o-forms-suffix">
										<button for="search" data-trackable="search-button">Go</button>
								</div>
							</div>
					</div>
				</form>
				{{/if}}
				<div class="nav__subsections o-expander__content"></div>
			</div>
			{{/if}}

		</div>
	</div>
</header>
