<ol class="next-navigation next-navigation--more">
    <li class="next-navigation__group">
        <h3 class="next-navigation__group__header">
            <a class="next-navigation__link" href="/stream/sectionsId/MTQw-U2VjdGlvbnM=" data-trackable="Personal Finance">Personal Finance</a>
        </h3>
        <ol class="next-navigation__group__items">
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/MTQy-U2VjdGlvbnM=" data-trackable="Property &amp; Mortgages">Property &amp; Mortgages</a>
                </li>
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/MTQz-U2VjdGlvbnM=" data-trackable="Investments">Investments</a>
                </li>
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/OTY=-U2VjdGlvbnM=" data-trackable="Trading Advice">Trading Advice</a>
                </li>
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/MTQ0-U2VjdGlvbnM=" data-trackable="Pensions">Pensions</a>
                </li>
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/MTQ1-U2VjdGlvbnM=" data-trackable="Tax">Tax</a>
                </li>
                <li class="next-navigation__group__item">
                    <a class="next-navigation__link" href="/stream/sectionsId/MTQ2-U2VjdGlvbnM=" data-trackable="Banking &amp; Savings">Banking &amp; Savings</a>
                </li>
        </ol>
    </li>
    <li class="next-navigation__group">
        <h3 class="next-navigation__group__header">
            <a class="next-navigation__link" href="/stream/sectionsId/MTE1-U2VjdGlvbnM=" data-trackable="Lex">Lex</a>
        </h3>
    </li>
    <li class="next-navigation__group">
        <h3 class="next-navigation__group__header">
            <a class="next-navigation__link" href="//ftalphaville.ft.com" data-trackable="Alphaville">Alphaville</a>
        </h3>
    </li>
</ol>
