<ul class="next-navigation next-navigation--nav">
	<li class="next-navigation__group">
		<a class="next-navigation__group__link" href="/" data-trackable="Home">Home</a>
	</li>
	{{#each nav}}
	<li class="next-navigation__group">
		<a class="next-navigation__group__link" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
	</li>
	{{/each}}
	<li class="next-navigation__group">
		<a class="js-subnav-toggle next-navigation__group__link" href="#next-footer__nav" data-trackable="subnav-toggle">All</a>
	</li>
</ul>
