<ol class="next-navigation next-navigation--nav">
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/" data-trackable="Home">Home</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/MQ==-U2VjdGlvbnM=" data-trackable="World">World</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/Mjk=-U2VjdGlvbnM=" data-trackable="Companies">Companies</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/NzE=-U2VjdGlvbnM=" data-trackable="Markets">Markets</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/MTE2-U2VjdGlvbnM=" data-trackable="Opinion">Opinion</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/MTI1-U2VjdGlvbnM=" data-trackable="Work &amp; Career">Work &amp; Career</a>
	</li>
	<li class="next-navigation__group">
		<a class="next-navigation__link" href="/stream/sectionsId/MTQ4-U2VjdGlvbnM=" data-trackable="Life &amp; Arts">Life &amp; Arts</a>
	</li>
	<li class="next-navigation__group">
		<a class="js-subnav-toggle next-navigation__link" href="#next-footer__nav" data-trackable="subnav-toggle">All</a>
	</li>
</ol>
